apparmor==2.13.4
appdirs==1.4.3
application-utility==1.3.2
attrs==19.3.0
beautifulsoup4==4.9.0
btrfsutil==1.2.0
CacheControl==0.12.6
caffeine-ng==3.4.2
chardet==3.0.4
chrome-gnome-shell==0.0.0
colorama==0.4.3
contextlib2==0.6.0.post1
cupshelpers==1.0
distlib==0.3.0
distro==1.4.0
docopt==0.6.2
ewmh==0.1.6
gufw==19.10.0
html5lib==1.0.1
idna==2.9
importlib-metadata==1.5.0
Jade-Application-Kit==3.0.0
LibAppArmor==2.13.4
louis==3.13.0
more-itertools==8.2.0
msgpack==1.0.0
npyscreen==4.10.5
ordered-set==3.1.1
packaging==20.3
pacman-mirrors==4.16.4
pep517==0.8.2
Pillow==8.1.1
progress==1.5
pwquality==1.4.2
pycairo==1.19.1
pycups==1.9.74
pycurl==7.43.0.5
PyGObject==3.36.0
pyparsing==2.4.7
PyQt5==5.14.2
PyQt5-sip==12.7.2
PyQtWebEngine==5.14.0
pysmbc==1.0.20
python-xlib==0.27
pytoml==0.1.21
pyxdg==0.26
reportlab==3.5.42
requests==2.23.0
retrying==1.3.3
setproctitle==1.1.10
sip==4.19.22
six==1.14.0
soupsieve==1.9.5
team==1.0
toml==0.10.0
ufw==0.36
urllib3==1.25.9
webencodings==0.5.1
zipp==3.1.0
